body {
  margin: 0;
  font-family: 'Gill Sans',Calibri; 
}
.main__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* display: flex;
justify-content: center;
flex-direction: column; */
.header {
  width: 1170px;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 530px;
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  align-items: center;
  display: flex; 
}
.logo__img {
  margin-right: 3%;
}
.logo__text {
  font-size: 1.57em;
  text-transform: uppercase;
  margin-bottom: 13%;
}
.navigation__list {
  display: flex;
  list-style: none;
  font-size: 1.08em;
  padding: 0;
}

.navigation__link {
  margin-right: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
.navigation__item {
  display: flex;
  margin-right: 30px;
}
.navigation__search-button {
  background: none;
  margin-right: 15px;
  font-size: 1.2em;
  border: 0;
  padding: 0;
}

.sub-header {
  display: flex;
  background-image: url(./images/footer_fon.png);
  height: 400px;
  flex-basis: 100%;
  justify-content: center;
}


.sub-header__title{
 
  margin-top: 90px;
  width: 1170px;
  color: white;
  text-transform: uppercase;
}


.container {
  width: 1140px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.contents-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 65.6%;
}
.content {
  margin-top: 94px;
  
  display: flex;
  flex-wrap: wrap;
}
.date {
  font-weight: bold;
  color: #0055a6;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 1.28em;
}
.content-image {
  margin-top: 30px;
}
.content__title {
  height: 25px;
  margin-top: 20px;
  flex-basis: 100%;
  text-decoration: none;
  color: black;
  font-size: 1.89em;
  font-weight: 1000;
  word-spacing: 0.24em;
}
.content-author {
  margin-top: 15px;
  margin-bottom: 20px;
  word-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 0.9em;
 text-decoration: none;
}
.content__text {
  font-weight: 600;
  font-size: 1.172em;
}
.content-author_link {
  text-decoration: none;
  color: black;
}

.content__text {
  margin: 0;
}

.aside {
  display: flex;
  flex-direction: column;
  flex-basis: 360px;
  margin-top: 125px;
}

.aside__search {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 100%;
  background-color: #ededed;
  height: 80px;
}
.aside-search-input {
  padding: 11px 0px 10px 15px;
  border: 0;
  font-size: 1.05em;
  font-weight: 700;
}
.aside__search__logo {
  font-size: 18px;
  position: absolute;
  margin-top: 50px;
  margin-left: 291px;  
}
.aside-search__title {
  margin: 10px 0 5px 0;
  font-size: 1.26em;
}

.aside-block {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.aside-block__title {
  font-size: 1.52em;
  height: 47px;
  width: 125px;
  margin: 0 0 0 0;
  border-bottom: 2px solid #0055a6;
}

.aside-populars {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 10px 0 0px 0;
  padding: 0;
}
.aside-populars__list {
  margin-right: 19px;
  margin-top: 20px;
  list-style: none;
  padding: 11px 12px 11px 10px;
  background-color: #ededed;
}
.aside-populars_link {
  font-weight: bold;
  font-size: 1.09em;
  text-decoration: none;
  color: black;
}

.aside-post {
  
  display: flex;
  border-bottom: 1px solid #eaeaea;
  list-style: none;
  padding:  0 0 20px 0;
  margin: 0;
}
.aside-post__title {
  margin: 23px 0 23px 0;
}

.aside-post_content {
  display: flex;
  justify-content: flex-start;
}

.aside-post__img {
  flex-basis: 80px;
}

.aside-post__link {
  font-size: 1.08em;
  text-decoration: none;
  color: black;
}

.aside-post__text {
  font-size: 1em;
  margin: 0 0 0 20px;
}

.aside-categories {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 15px 0 0 0;
  padding: 0;
 
}

.aside-cotegories_item {
  display: flex;
  align-items: center;
  height: 45px;
  list-style: none;
  border-bottom: 1px solid #cccccc;
}

.aside-cotegories__link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.aside-cotegories__link:hover {
  color: #0055a6;
}

.aside-cotegories__arrows {
  color: #0055a6;
  margin-right: 10px;
}
.content__img_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  background-color: #0055a6;
  
  width: 100%;
  color: white;
  padding: 50px;
  margin-top: 30px;
}
.content__img__text_1 {
  font-size: 1em;
  margin-right: 50%;
}
.content__img__text_2 {
  margin-top: 50px;
  font-size: 2em;
}
.content__img__text_3 {
  margin-top: 50px;
  font-size: 1.2em;
}

.content_pages_list {
  margin-left: 360px;
  font-size: 1em;
  list-style: none;
  font-size: 1em;
  display: flex;
  flex-direction: row;
}
.content_pages_item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.content_pages_item:hover {
  transition: 0.4s;
  box-shadow: 0px 5px 10px 0px rgb(180, 180, 180);
  cursor: pointer;
}
.content_pages_link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}