body {
  margin: 0;
  font-family: 'Gill Sans',Calibri; 
}
.main__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* display: flex;
justify-content: center;
flex-direction: column; */
.header {
  background-color: aquamarine;
  width: 1140px;
  display: flex;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  
}

.logo-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
 
}
.logo__img {
  margin-right: 3%;
}
.logo__text {
  font-size: 1.57em;
  text-transform: uppercase;
  margin-bottom: 13%;
}
.navigation__list {
  padding-left: 14.3%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.08em;
  margin-top: 2%;
}

.navigation__link {
  margin-right: 15%;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
.navigation__item {
  display: flex;
  margin-right: 16.4%;
}
.navigation__search-button {
  background: none;
  margin-right: 1%;
  font-size: 1.2em;
  border: 0;
}

.sub-header {
  display: flex;
  background-image: url(./images/footer_fon.png);
  height: 400px;
  flex-basis: 100%;
  justify-content: center;
}


.sub-header__title{
  display: flex;
  margin-top: 90px;
  width: 1140px;
  color: white;
  text-transform: uppercase;
}


.container {
  background-color: antiquewhite;
  width: 1140px;
  justify-content: space-between;
  display: flex;
}
.contents-wrapper {
  border: 1px solid blue;
  flex-basis: 65.6%;
}
.aside {
  flex-basis: 31.5%;
  border: 1px solid blue;
}